<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1 style="text-align: center;">URL Shortner</h1>
    <% if (locals.id) { %>
     <p style="text-align: center;">URL Generated: http://localhost:8001/url/<%= locals.id %></p>
    <% } %>
    <form style="display: flex; justify-content: center;" method="post" action="/url">
        <label>Enter your original URL: </label>
        <input type="text" name="url" placeholder="https://example.com"/>
        <button type="submit">Generate</button>
    </form>
</body>
</html>